p.panier {
    text-transform: uppercase;
    border: ;
}
p.tartines {
    text-transform: uppercase;
    border: ;
}
p.napolitan {
    text-transform: uppercase;
    border: ;
}
p.croissant {
    text-transform: uppercase;
    border: ;
}